<form class="example-form">
  <div class ="center">
    <h3 class="center">Login</h3>
    <mat-form-field>
      <input matInput [(ngModel)]="user.email" type ="text" placeholder="Enter Your Name" name="mail">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type ="password" placeholder="Enter Your pass" [(ngModel)]="user.pass" name="pass">
    </mat-form-field>
    <div class="button-row center">
      <button type="submit" mat-raised-button color="accent" (click)="onSubmit('')">Log in</button>
    </div>
  </div>
</form>
<router-outlet></router-outlet>