<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Elephant Cars</span>
    <span class="example-spacer"></span>
	<button mat-button class="logout" (click)="LogOut('')">LogOut</button>
</mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="100px" class="home">
  	<mat-grid-tile>Brand</mat-grid-tile>
  	<mat-grid-tile>Country</mat-grid-tile>
  	<mat-grid-tile>Year</mat-grid-tile>
  	<mat-grid-tile>Delete</mat-grid-tile>
</mat-grid-list>

<mat-grid-list >
	<mat-grid-tile *ngFor="let car of cars | async">
      {{ car.brand }}
  </mat-grid-tile>
</mat-grid-list>

<form>
	<button mat-raised-button color="primary" (click)="Create('')">Create New Car</button>
</form>

